@charset "UTF-8";
/*********************************************************************
* CSS file for job `grupals'
*********************************************************************/

/* Variables for lengths of different magnitude */
@media only screen and (min-width: 0px) { /* Small screens or larger */
  :root {
    --xsmall-length: 0.125em; --small-length: 0.25em;
    --medium-length: 0.50em; --large-length: 1.00em;
    --xlarge-length: 1.50em; --xxlarge-length: 2.00em;}}
@media only screen and (min-width: 361px) { /* Medium screens or larger */
  :root {
    --xsmall-length: 0.25em; --small-length: 0.50em;
    --medium-length: 1.00em; --large-length: 1.50em;
    --xlarge-length: 2.00em; --xxlarge-length: 3.00em;}}
@media only screen and (min-width: 641px) { /* Large screens or larger */
  :root {
    --xsmall-length: 0.50em; --small-length: 1.00em;
    --medium-length: 1.50em; --large-length: 2.00em;
    --xlarge-length: 3.00em; --xxlarge-length: 4.00em;}}

/* Colors for hoverable elements */
:root {
  --hoverable-fgcolor: var(--color-A-dark);
  --hoverable-bgcolor: var(--color-A-light);}
.duskmode {
  --hoverable-fgcolor: var(--color-A-black);
  --hoverable-bgcolor: var(--color-A-gray);}

/* Set some CSS variables */
@media only screen and (min-width: 0px) { /* Small screens or larger */
  :root {
    --font-size: 16px;
    --text-align: left;
    --body-width: 100%;}}
@media only screen and (min-width: 641px) { /* Large screens or larger */
  :root {
    --font-size: 2.5vw;
    --text-align: justify;}}
@media only screen and (min-width: 1025px) { /* Xlarge screens or larger */
  :root {
    --font-size: 26px;
    --body-width: 1024px;}}

/* Some CSS reset */
* {outline: 0; padding: 0; margin: 0; border: 0;}

/* Directive for roman medium upright font */
@font-face{
  font-family: "MLModern Serif";
  src: url("fonts/mlmr10.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Custom styling of scroll bars */
:root {--scrollbar-foreground: var(--hoverable-fgcolor);
  --scrollbar-background: var(--hoverable-bgcolor);
  --scrollbar-padding: 5px;}
* { /* Works with Firefox */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);}
*::-webkit-scrollbar-thumb { /* Foreground (Chrome, Edge, and Safari) */
  background: var(--scrollbar-foreground);}
*::-webkit-scrollbar-track { /* Background (Chrome, Edge, and Safari) */
  background: var(--scrollbar-background);}
*::-webkit-scrollbar { /* Width of bars (Chrome, Edge, and Safari) */
  width: 10px; height: 10px;}

/* Custom properties for ‘A’ color shades (day/dusk/night modes) */
:root { /* Day mode */
  --color-A-white: white;
  --color-A-transparent: hsla(345,100%,100%,0.2); /* transparent white */
  --color-A-light: hsl(345,100%,78.2%); /* light crimson */
  --color-A-gray: hsl(345,100%,46.0%); /* gray crimson */
  --color-A-dark: hsl(345,100%,27.5%); /* dark crimson */
  --color-A-black: black;}
.duskmode { /* Dusk mode */
  --color-A-white: hsl(345,100%,46.0%); /* gray crimson */
  --color-A-transparent: hsla(345,100%,46.0%,0.2); /* transparent crimson */
  --color-A-light: hsl(345,100%,46.0%); /* gray crimson */
  --color-A-gray: white;
  --color-A-dark: white;
  --color-A-black: black;}
.nightmode { /* Night mode */
  --color-A-white: black;
  --color-A-transparent: hsla(345,100%,0%,0.2); /* transparent black */
  --color-A-light: hsl(345,100%,27.5%); /* dark crimson */
  --color-A-gray: hsl(345,100%,46.0%); /* gray crimson */
  --color-A-dark: hsl(345,100%,78.2%); /* light crimson */
  --color-A-black: white;}

/* <body> and <html> elements rules */
html {background-color: var(--color-B-gray);}
body {width: var(--body-width); margin: 0 0 0 calc(100% - var(--body-width));
  text-indent: 1em; word-spacing: 0.6em;
  text-align: var(--text-align);
  font-family: "MLModern Serif",
  "Latin Modern Roman", "Times New Roman", serif;
  font-weight: normal; font-style: normal; font-variant: normal;
  font-size: var(--font-size); text-decoration: none;
  background-color: var(--color-A-white);}

/* <header>, <main>, <footer> elements rules */
header {background-image: linear-gradient(to top, var(--color-A-transparent),
  var(--color-A-white) 1em);}
main, footer {background-color: var(--color-A-white);
  color: var(--color-A-black); padding: 0 var(--medium-length);}

/* Sentence and paragraph rules */
div.p {line-height: 1.2; margin-top: 0em; margin-bottom: 1em;}
div.p > span {word-spacing: normal;}

/* Custom properties for ‘B’ color shades (day/dusk/night modes) */
:root { /* Day mode */
  --color-B-white: white;
  --color-B-transparent: hsla(165,100%,100%,0.2); /* transparent white */
  --color-B-light: hsl(165,100%,39.5%); /* light aquamarine */
  --color-B-gray: hsl(165,100%,26.3%); /* gray aquamarine */
  --color-B-dark: hsl(165,100%,15.3%); /* dark aquamarine */
  --color-B-black: black;}
.duskmode { /* Dusk mode */
  --color-B-white: hsl(165,100%,26.3%); /* gray aquamarine */
  --color-B-transparent: hsla(165,100%,26.3%,0.2); /* transparent aquamarine */
  --color-B-light: hsl(165,100%,26.3%); /* gray aquamarine */
  --color-B-gray: white;
  --color-B-dark: white;
  --color-B-black: black;}
.nightmode { /* Night mode */
  --color-B-white: black;
  --color-B-transparent: hsla(165,100%,0%,0.2); /* transparent black */
  --color-B-light: hsl(165,100%,15.3%); /* dark aquamarine */
  --color-B-gray: hsl(165,100%,26.3%); /* gray aquamarine */
  --color-B-dark: hsl(165,100%,39.5%); /* light aquamarine */
  --color-B-black: white;}

/* Rules for logo */
.logo {max-width: calc(4.0*1.4em); overflow: hidden; white-space: nowrap;
  font-style: normal; font-variant: small-caps; font-size: calc(0.70*1.4em);
  font-weight: bolder; text-indent: 0; height: calc(1em/0.70);
  line-height: calc(1/0.70); word-spacing: normal;}
.logo > a {display: inline-block; padding: 0 0.5em; text-decoration: none;}
.logo > a:link, .logo > a:visited {color: var(--color-B-gray);
  background-color: var(--color-B-white);}
@media (hover: hover) {/* Rules applied when "hover" is supported */
  .logo > a:hover {color: var(--color-B-white);
    background-color: var(--color-B-gray);}
}

/* Rules for SVG icons */
svg.iconsdefs {display: none;}
svg.icon {width: 1.4em;}

/* Rules for icon bar */
ul.iconbar {margin: 0; display: flex; flex-wrap: wrap; justify-content: center;
  color: var(--color-B-black); background-color: var(--color-B-white);}
ul.iconbar {width: calc(100% - 1.4em);}
header.front ul.iconbar {width: 100%;}
ul.iconbar > li {display: inline-block; text-indent: 0; margin-right: 0.8em;}
header.front ul.iconbar > li:last-child {margin-right: 0.5em;}
header.front ul.iconbar > li:first-child,
  header.notfront ul.iconbar > li:first-child {margin-right: auto;}
header.notfront ul.iconbar > li:nth-child(5) {margin-right: auto;}
ul.iconbar > li > details {text-indent: 0}
ul.iconbar > li > details > summary {display: inline-block;}
/* Hide <summary>’s marker for <details> in icon bar */
  ul.iconbar > li > details > summary {list-style: none;}
  ul.iconbar > li > details > summary::-webkit-details-marker {display: none}
ul.iconbar svg.icon {color: var(--color-B-gray);
  background-color: var(--color-B-white);}
@media (hover: hover) {/* Rules applied when "hover" is supported */
  ul.iconbar svg.icon:hover {color: var(--color-B-white);
  background-color: var(--color-B-gray);}
}

/* Common CSS rules for headers (both front and notfront pages) */
header {position: -webkit-sticky; position: sticky; top: 0; right: 0;
  z-index: 10;}

/* Rules for header in the front page */
header.front {border-bottom: 1px solid var(--color-A-black);}

/* Miscellaneous rules for QQiE */
span.includeimg > img {font-size: 0.8em;}
div.figure > div.displaymath > span > svg {font-size: 0.8em;}
footer {margin-top: 1em;}
.logo {font-variant: normal;}

/* Rule for LARGE text size */
.LARGE {font-size: 157%;}

/* Rule for large text size */
.large {font-size: 117%;}

/* Directive for roman bold upright font */
@font-face{
  font-family: "MLModern Serif";
  src: url("fonts/mlmbx10.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Rules for ’\maketitle’ command */
h1.title, address.author, div.date {text-indent: 0; word-spacing: normal;
  text-align: center; font-style: normal; margin-bottom: 0.5em;
  color: var(--color-A-black); background-color: var(--color-A-white);}
h1.title {font-weight: bold;}
address.author, div.date {font-weight: normal;}

/* Rule for ‘section’ separator */
.sectionsep {height: 0.2em; color: var(--color-A-black); background-color:
var(--color-A-black);}

/* Rule for ‘section’ headers */
h2.section {text-indent: 0; font-weight: bold; font-size: 117%;
  line-height: 1.2; margin: 0 0 calc(100em / 117) 0; word-spacing: normal;}

/* Rule for ‘question’ and ‘answer’ environments */
details.question > summary,
  details.answer > summary {list-style: none;}
details.question > summary::-webkit-details-marker,
  details.answer > summary::-webkit-details-marker {display: none}
details.question > summary, details.answer > summary {cursor: pointer;}
details.question > summary > span:nth-child(1),
  details.answer > summary > span:nth-child(1) {display: inline-block;}
details.question > summary > span:nth-child(2),
  details.answer > summary > span:nth-child(2) {display: none;}
details[open].question > summary > span:nth-child(1),
  details[open].answer > summary > span:nth-child(1) {display: none;}
details[open].question > summary > span:nth-child(2),
  details[open].answer > summary > span:nth-child(2) {display: inline-block;}
details.question > summary > span:nth-child(1),
  details.question > summary > span:nth-child(2),
  details.answer > summary > span:nth-child(1),
  details.answer > summary > span:nth-child(2) {font-size: 1.2em;
  width: 1.25em;}
details.question > summary > span:nth-child(3),
  details.answer > summary > span:nth-child(3) {display: inline-block;}

/* Rule for ‘question’ environments */
details.question {text-indent: 0; padding: 0 0.5em;
  border: ridge 4px transparent;
  border-radius: 12px;}
details[open].question {margin-bottom: 1em;
  border: ridge 4px var(--color-B-gray);
  border-radius: 12px;}
details[open].question > summary::after {content: ":";}
details.question > summary {color: var(--color-B-gray);
  display: inline; word-spacing: normal;}
details.question > div:first-of-type {display: inline;}

/* Rule for ‘displaymath’ environment */
div.displaymath {margin-bottom: 0.5em; padding-left: 0; padding-right: 0;
  text-indent: 0; text-align: center;
  /* Allow horizontal scroll bar */
  display: block; max-width: 100%; overflow-x: auto; overflow-y: hidden;
  white-space: nowrap; padding-bottom: var(--scrollbar-padding);
  box-sizing: border-box;}
div.displaymath > span:first-child {text-indent: 0em; text-align: center;
  display: inline-block;
  padding-bottom: calc(0.5em - var(--scrollbar-padding));}
div.displaymath > span > svg {vertical-align: middle; fill: currentColor;}

/* Rule for non-indented text */
.noindent {text-indent: 0em;}

/* Rule for inline ‘math’ */
.inlinemath {white-space: nowrap; fill: currentColor;}

/* Rules for ‘enumerate’ environments */
ol.enumerate {text-indent: 0em; margin-left: 2.0em; margin-right: 0;}
ol.enumerate > li {padding-left: 1.0em;}
ol.enumerate > li::marker {content: var(--enum-marker);}

/* Rule for underlined text */
.underline {text-decoration: underline;}

/* Rule for center alignment */
.center {text-indent: 0em; text-align: center;}

/* Rules for ‘eqnarray*’ environments */
table.eqnarraystar {vertical-align: middle; border-collapse: collapse;
  text-indent: 0.0em;
  /* Allow horizontal scroll bar */
  display: block; max-width: 100%; overflow-x: auto; overflow-y: hidden;
  white-space: nowrap; padding-bottom: var(--scrollbar-padding);
  box-sizing: border-box;}
table.eqnarraystar > tbody {display: inline-block; text-align: center;
  line-height: 0;}
table.eqnarraystar > tbody > tr > td {padding: 0.3em; vertical-align: 0;}
table.eqnarraystar > tbody > tr > td > span {word-spacing: normal; }
table.eqnarraystar > tbody > tr > td.c {text-align: center; }
table.eqnarraystar > tbody > tr > td.l {text-align: left; }
table.eqnarraystar > tbody > tr > td.r {text-align: right; }
table.eqnarraystar > tbody > tr > td span.inlinemath > svg {height: auto;
  vertical-align: middle;}
div.p.eqnarraystar {text-indent: 0; text-align: center; margin-bottom: 0.5em;}

/* Rule for ‘answer’ environments */
details.answer {margin: 0; padding-bottom: 0.5em;}
details.answer > summary {color: var(--color-B-gray);
  word-spacing: normal;}
details.answer > div:last-of-type {margin-bottom: 0;}

/* Directive for roman medium italic font */
@font-face{
  font-family: "MLModern Serif";
  src: url("fonts/mlmri10.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/* Rule for italic shape */
.itshape {font-style: italic; font-variant: normal;}

/* Rules for ‘tabular’ environments */
table.tabular {display: inline-table; vertical-align: middle;
  border-collapse: collapse; text-indent: 0.0em;}
table.tabular + span:before {content: " ";}
table.tabular > tbody {display: inline-block; text-align: center;}
table.tabular > tbody > tr > td {padding: 0.3em; vertical-align: middle;}
table.tabular > tbody > tr > td > span {word-spacing: normal;}
table.tabular > tbody > tr > td.c {text-align: center;}
table.tabular > tbody > tr > td.l {text-align: left;}
table.tabular > tbody > tr > td.r {text-align: right;}
div.p > table:only-child.tabular {
  /* Allow horizontal scroll bar */
  display: block; max-width: 100%; overflow-x: auto; overflow-y: hidden;
  white-space: nowrap; padding-bottom: var(--scrollbar-padding);
  box-sizing: border-box;}

/* Rules for vertical rules in ‘tabular’ environments */
table.tabular > tbody > tr > td.vrule {padding: 0.0em;
  border-left: 1px solid; width: 0px; height: 0px; }
table.tabular > tbody > tr > td.vrule + td.vrule {border-left: 0px solid;
  border-right: 1px solid; width: 2px; }

/* Rules for ‘hline’ and ‘cline’ commands in ‘tabular’ environments */
table.tabular > tbody > tr.hrule {border-top: 0px; height: 0px; }
table.tabular > tbody > tr.hrule > td {padding: 0.0em; border-top: 1px solid;
  height: 0px; }
table.tabular > tbody > tr.hrule + tr.hrule > td { border-top: 0px;
  border-bottom: 1px solid; height: 1px; }
table.tabular > tbody > tr.hrule > td.noline {border-top: 1px none; }

/* Rule for boldface series */
.bfseries {font-weight: bolder;}

/* Rules for ‘itemize’ environments */
ul.itemize {text-indent: 0em; margin-left: 1.3em; margin-right: 0;}
ul.itemize > li {padding-left: 0.5em;}
ul.itemize li {--item-marker: "●";}
ul.itemize ul.itemize li {--item-marker: "★";}
ul.itemize ul.itemize ul.itemize li {--item-marker: "■";}
ul.itemize ul.itemize ul.itemize ul.itemize li {--item-marker: "◆";}
ul.itemize > li::marker {content: var(--item-marker);}

/* Rule for ‘picture’ environment */
svg.picture {fill: currentColor;}
div.p > span:only-child.picture {
  /* Allow horizontal scroll bar */
  display: block; max-width: 100%; overflow-x: auto; overflow-y: hidden;
  white-space: nowrap; padding-bottom: var(--scrollbar-padding);
  box-sizing: border-box;}

/* Rules for ‘notice’ in collection */
footer > div {border: black 2px solid; padding: 0.5em;
  text-align: center;}

/* Rules for footers and ’back2top’ */
html {height: 100%;}
body {grid-template-rows: auto 1fr auto; min-height:100%;}
footer {padding-bottom: 1.4em;}
div.back2top {line-height: 0;}
div.back2top > a {display: block;}

/* Rules for back-to-top button */
body {display: grid; grid-template-columns: minmax(0, 1fr) 0px;}
header {grid-column: 1 / span 1;}
main {grid-column: 1 / span 1; grid-row: 2 / span 1;}
footer {grid-column: 1 / span 1; grid-row: 3 / span 1;}
div.back2top {text-indent: 0; position: sticky; bottom: 0; place-self: end;
  margin: 100vh 0.5em 0 0; grid-column: 2 / span 1; grid-row: 1 / span 3;}
footer + div.back2top {grid-row: 1 / span 4;}
div.back2top svg.top {color: var(--hoverable-fgcolor);
  background-color: var(--hoverable-bgcolor)}
@media (hover: hover) {/* Rules applied when "hover" is supported */
  div.back2top svg.top:hover {color: var(--hoverable-bgcolor);
    background-color: var(--hoverable-fgcolor)}
}
