@charset "UTF-8";
/*********************************************************************
* CSS file for job `apunts'
*********************************************************************/

/* Set some custom properties */
:root {
  --font-size: 16px;
  --body-lateral-padding: 0.5em;
  --body-text-align: left;
}

/* Set some custom properties (for screens larger than 360px) */
@media only screen and (min-width: 361px)
{
}

/* Set some custom properties (for screens larger than 640px) */
@media only screen and (min-width: 641px)
{
  :root {
    /* Increases font-size from 16px (medium) to 26px (xlarge) */
    /* Computed approximately as 100*16/640 or 100*26/1024 */
    --font-size: 2.5vw;
    --body-text-align: justify;
  }
}

/* Set some custom properties (for screens larger than 1024px) */
@media only screen and (min-width: 1025px)
{
  :root {
    --font-size: 26px;
  }
}

/* Some CSS reset */
* {outline: 0; padding: 0; margin: 0; border: 0;}

/* Directive for roman medium upright font */
@font-face{
  font-family: "MLModern Serif";
  src: url("fonts/mlmr10.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Text default rules */
body {text-indent: 1.5em; word-spacing: 0.6em; text-align:
var(--body-text-align);
  font-family: "MLModern Serif",
  "Latin Modern Roman", "Times New Roman", serif;
  font-weight: normal; font-style: normal; font-variant: normal;
  font-size: var(--font-size); text-decoration: none;
  background-color: white; color: black;}

/* Sentence and paragraph rules */
div.p {line-height: 1.2; margin-top: 0em; margin-bottom: 1em;}
div.p > span {word-spacing: normal;}

/* Rule for hiding a chapter separator immediately following a partsep */
br + hr.partsep + br + br + hr.chaptersep {display: none;}
br + hr.partsep + br + br + hr.chaptersep + br {display: none;}

/* Override some values for ‘body’ tag */
body {
  width: calc(100% - 2*var(--body-lateral-padding));
  padding: 0 var(--body-lateral-padding);
}

/* Responsive rules for screens larger than 360px */
@media only screen and (min-width: 361px)
{
  /* Customize ‘body’ */
}

/* Responsive rules for screens larger than 640px */
@media only screen and (min-width: 641px)
{
  /* Customize ‘body’ */
}

/* Responsive rules for screens larger than 1024px */
@media only screen and (min-width: 1025px)
{
  /* Color the screen outside ‘body’ */
  html { background-color: SandyBrown;}

  /* Resize ‘body’ to ‘1024px - padding - border’ and style a little */
  body {
    width: calc(1024px - 2*var(--body-lateral-padding) - 2px);
    margin: 1em auto;
    border: 1px solid black;
    box-shadow: 3px 3px 4px 4px gray;
    border-radius: 1em;
  }
  /* Uncomment to restrict height of ’html’ and ’body’ to 768px */
  /* html {
    height: 768px;
    overflow-y: scroll;
  }
  body {
    height: calc(768px - 2em - 2px);
    overflow-y: auto;
  }
  */
}

/* Rule for center alignment */
.center {text-indent: 0em; text-align: center;}

/* Rule for LARGE text size */
.LARGE {font-size: 157%;}

/* Rule for large text size */
.large {font-size: 117%;}

/* Default rules for links */
div.p a {word-spacing: normal;}
div.p a:link {color: blue; text-decoration: none;}
div.p a:visited {color: #551A8B; text-decoration: none;}
div.p a:hover {color: blue; text-decoration: underline;}

/* Rule for non-indented text */
.noindent {text-indent: 0em;}

/* Rule for epigraphs */
div.epigraph {color: teal; float: right; width: 40%; margin-right: 1em}
div.epigraph + * {clear: both;}

/* Rule for small text size */
.small {font-size: 92%;}

/* Rule for right alignment */
.right {text-indent: 0em; text-align: right;}

/* Rule for ‘part’ separator */
.partsep {height: 0.6em; color: black; background: black;}

/* Rule for ‘chapter’ separator */
.chaptersep {height: 0.4em; color: black; background: black;}

/* Rule for Huge text size */
.Huge {font-size: 230%;}

/* Directive for roman bold upright font */
@font-face{
  font-family: "MLModern Serif";
  src: url("fonts/mlmbx10.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Rule for boldface series */
.bfseries {font-weight: bolder;}

/* Rule for ‘part’ entry in table of contents */
.parttoc {text-indent: 0em; margin-left: 0em; margin-right: 0em;}

/* Rule for ‘chapter’ entry in table of contents */
.chaptertoc {text-indent: 0em; margin-left: 0em; margin-right: 0em;}

/* Rule for ‘section’ entry in table of contents */
.sectiontoc {text-indent: 0em; margin-left: 0em; margin-right: 0em;}
br + .sectiontoc {margin-left: 2em;}

/* Rule for ‘subsection’ entry in table of contents */
.subsectiontoc {text-indent: 0em; margin-left: 0em; margin-right: 0em;}
br + .subsectiontoc {margin-left: 4em;}

/* Rule for huge text size */
.huge {font-size: 191%;}

/* Rule for Large text size */
.Large {font-size: 140%;}

/* Rules for ‘foldable@backend’ */
.foldable
{
  --fldbl-left-margin: 2.0em;
  --fldbl-right-margin: 2.0em;
  --fldbl-transfnt: ease-out;
  --fldbl-transtime: 0.5s;
  --fldbl-transition:
      border var(--fldbl-transtime) var(--fldbl-transfnt),
      color var(--fldbl-transtime) var(--fldbl-transfnt),
      background-color var(--fldbl-transtime) var(--fldbl-transfnt),
      height var(--fldbl-transtime) var(--fldbl-transfnt),
      padding-top var(--fldbl-transtime) var(--fldbl-transfnt),
      padding-bottom var(--fldbl-transtime) var(--fldbl-transfnt),
      margin-top var(--fldbl-transtime) var(--fldbl-transfnt),
      margin-bottom var(--fldbl-transtime) var(--fldbl-transfnt);
  --fldbl-icon-side: 1.0em;
}
html {scroll-behavior: smooth;}
.foldable > :first-child {
  --fldbl-focused-fgcolor: white;
  --fldbl-unfocused-fgcolor: black;
  overflow: hidden; padding-right: 0.5em; cursor: pointer;
  transition:var(--fldbl-transition); color: var(--fldbl-unfocused-fgcolor);
  padding-right: calc(2.5 * var(--fldbl-icon-side)); position: relative;}
.foldable .foldable {margin-left: var(--fldbl-left-margin);
  margin-right: var(--fldbl-right-margin);}
.foldable.empty > :first-child {cursor: default;}
.foldable.focus.unfolded:not(.empty) {padding-top:0;}
.foldable.focus.unfolded:not(.empty) > :first-child {
  background-color: var(--fldbl-unfocused-fgcolor);
  z-index: 1; margin-bottom: 0.5em; padding-bottom: 0.5em; padding-top: 0.5em;}
.foldable.focus.unfolded:not(.empty) > :first-child > span {
  color: var(--fldbl-focused-fgcolor);}
.foldable.notransition > *:not(:first-child) {transition: none !important;}
.foldable > *:not(:first-child) {height: 0; overflow:hidden;
  transition: var(--fldbl-transition);}
.foldable.unfolded > *:not(:first-child) {height: auto;
  --fldbl-transfnt: ease-in; transition: var(--fldbl-transition);}
.foldable.focus.unfolded > :first-child {position:-webkit-sticky;
  position:sticky; top: 0;}

/* Rules for ‘foldable@backend’ icons */
.foldable > :first-child > button {font-family: inherit; font-size: 100%;
  line-height: 0; border: 0; border-style: none; cursor: default;
  background-color: transparent; position: absolute;
  right: calc(0.5 * var(--fldbl-icon-side)); top:0;
  transition: top var(--fldbl-transtime) var(--fldbl-transfnt);}
.foldable.focus.unfolded > :first-child > button {top: 0.5em;}
.foldable > :first-child > button > svg {
  border: calc(0.1 * var(--fldbl-icon-side)) solid
  var(--fldbl-unfocused-fgcolor); border-radius: 50%; margin: 0;
  width: var(--fldbl-icon-side); height: var(--fldbl-icon-side);
  transition: transform 250ms linear;}
.foldable.focus > :first-child > button > svg {
  border: calc(0.1 * var(--fldbl-icon-side)) solid
  var(--fldbl-focused-fgcolor);}
.foldable:not(.unfolded) > :first-child > button > svg {
  border: calc(0.1 * var(--fldbl-icon-side)) solid
  var(--fldbl-unfocused-fgcolor);}
.foldable > :first-child > button:active > svg {transform: scale(0.70);}
.foldable > :first-child > button > svg > * {stroke-width: 10%;
  transition: stroke 250ms linear;}
.foldable:not(.unfolded) > :first-child > button > svg > *.folded
  {stroke: var(--fldbl-unfocused-fgcolor);}
.foldable.unfolded > :first-child > button > svg > *.unfolded
  {stroke: var(--fldbl-unfocused-fgcolor);}
.foldable.unfolded.focus > :first-child > button > svg > *.unfolded
  {stroke: var(--fldbl-focused-fgcolor);}

/* Rules for ‘prop’ environments */
.prop.foldable {--fldbl-left-margin: 0.5em;
  --fldbl-right-margin: 0;}
@media only screen and (min-width: 361px) {
  .prop.foldable {--fldbl-left-margin: 1.0em;}
}
@media only screen and (min-width: 641px) {
  .prop.foldable {--fldbl-left-margin: 2.0em;}
}
.prop {text-indent: 0em; margin-right: 0; margin-left: 0; padding: 0.5em 0 0 0;
  border: transparent solid 1px; transition: var(--fldbl-transition);}
.prop > :first-child {
  --fldbl-focused-fgcolor: white;
  --fldbl-unfocused-fgcolor: darkgreen;}
.prop > :first-child > span {transition: var(--fldbl-transition);}
.prop > :first-child > span:first-child {margin-right: -0.5em; color: black;}
.prop > :first-child {padding-left: 0.5em;}
.prop > *:not(:first-child) > :not(.prop) {padding-right: 0.5em;
  padding-left: 0.5em;}
.prop.focus {background-color: hsl(230,100%,95%); margin-bottom: 0;
  border: black solid 1px;}
.prop.focus > :first-child > span:first-child {color: red;}

/* Directive for sans medium upright font */
@font-face{
  font-family: "MLModern Sans Serif";
  src: url("fonts/mlmss10.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Rule for sans-serif family */
.sffamily {font-family: "MLModern Sans Serif",
  "Latin Modern Sans", Arial, sans-serif;}

/* Directive for sans medium italic font */
@font-face{
  font-family: "MLModern Sans Serif";
  src: url("fonts/mlmsso10.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/* Rule for italic shape */
.itshape {font-style: italic; font-variant: normal;}

/* Directive for roman medium italic font */
@font-face{
  font-family: "MLModern Serif";
  src: url("fonts/mlmri10.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/* Custom properties for responsive margins */
:root {--medium-lateral-margin: 0.5em;} /* Small screens */
:root {--large-lateral-margin: 0.5em;} /* Small screens */
@media only screen and (min-width: 361px) /* Medium screens */
  { :root {--medium-lateral-margin: 1em;}
    :root {--large-lateral-margin: 1em;}}
@media only screen and (min-width: 641px) /* Large screens */
  { :root {--large-lateral-margin: 2em;}}
:root {--medium-margin: 0 var(--medium-lateral-margin) 0.5em
  var(--medium-lateral-margin);} /* All four margins, medium screen */
:root {--large-margin: 0 var(--large-lateral-margin) 0.5em
  var(--large-lateral-margin);} /* All four margins, large screen */

/* Custom properties for ‘float’ environments */
.figure, .table {--float-margin: var(--medium-margin);}

/* Rule for ’float’ (’figure’ and ’table’) environments */
.figure, .table {text-indent: 0; text-align: center; background-color: white;
  border: black double 3px; padding: 1em 0 0 0.5em;
  margin: var(--float-margin);}
div.p.caption > span:first-child {color: hsl(7,100%,34%);}

/* Rule for ‘caption’ */
.caption {font-size: 90%; text-align: var(--body-text-align);}

/* Rule for ‘displaymath’ environment */
.displaymath {max-width: 100%; vertical-align: middle; fill: currentColor;}

/* Rules for copyrighted images */
span.includeimg > a {display: inline-block; position: relative; width: 0.9em;}
span.includeimg > a > span {text-indent: 0; position: absolute;
  left: 1.1em; bottom: 0; white-space: nowrap;
  font-size: 75%; word-spacing: 0.2em;
  transform: rotate(-90deg); transform-origin: left bottom;}

/* Rule for tiny text size */
.tiny {font-size: 68%;}

/* Directive for typewriter medium upright font */
@font-face{
  font-family: "MLModern Mono";
  src: url("fonts/mlmtt10.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Rule for typewriter family */
.ttfamily {font-family: "MLModern Mono",
  "Latin Modern Mono", "Courier New", Courier, monospace;}

/* Common rules for all ‘graphics’ content */
:root {--graphics-font-size: 100%;}

/* Rule for ‘includeimg’ content */
span.includeimg {display: inline-block; max-width: 100%; text-indent: 0;
  vertical-align: bottom; overflow-x: scroll; white-space: nowrap;}
span.includeimg > img {vertical-align: bottom;}

/* Rules for ‘tabular’ environments */
table.tabular {display: inline-table; vertical-align: middle;
  border-collapse: collapse; text-indent: 0.0em; }
table.tabular + span:before {content: " "; }
table.tabular > tbody > tr > td {padding: 0.3em; vertical-align: middle; }
table.tabular > tbody > tr > td > span {word-spacing: normal; }
table.tabular > tbody > tr > td.c {text-align: center; }
table.tabular > tbody > tr > td.l {text-align: left; }
table.tabular > tbody > tr > td.r {text-align: right; }

/* Rule for inline ‘math’ */
.inlinemath {white-space: nowrap; fill: currentColor;}

/* Rule for ‘includebox’ content */
img.includebox {vertical-align: baseline;
  font-size: var(--graphics-font-size);}

/* Rule for footers */
footer {text-align: center;}
footer > div.p {display: inline-block; font-size: 60%;
  margin: 2px auto; text-align: center; text-indent: 0;
  word-spacing: normal; border: 1px solid black; padding: 0.2em;}
footer img.includebox {font-size: 50%; vertical-align: -1.0em;}

/* Rule for ‘picture’ environment */
.picture {fill: currentColor; max-width: 100%;}

/* Directive for sans bold upright font */
@font-face{
  font-family: "MLModern Sans Serif";
  src: url("fonts/mlmssbx10.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Custom properties for ‘law’ environment */
div.law {--law-margin: var(--large-margin);}

/* Rule for ‘law’ environment */
div.law {text-indent: 0em; color: hsl(204,100%,29%); padding: 0.5em 1em 0 1em;
  margin: var(--law-margin);
  background-color: hsl(60,100%,95%); border: 2px solid black;
  box-shadow: 3px 3px 4px 4px gray; border-radius: 1em;}
div.law > :last-child {margin-bottom: 0.5em;}

/* Rule for the law’s name color foreground */
.lawnamefg {color: hsl(7,100%,34%);}

/* Rules for ‘equation’ environment */
table.equation {vertical-align: middle; width: 100%; margin-bottom: 1em;}
table.equation tr td {text-align: center;}
table.equation tr td + td {text-align: right; width: 0; padding-left: 0.5em;
  white-space: nowrap; direction: ltr;}
table.equation + div.p:not(.noindent) {margin-top: 2em;}
svg.equation {max-width: 100%; fill: currentColor;}

/* Rule for ‘blob’ command */
div.blob {text-align: center; margin: 0 auto; overflow-x: hidden;
  transition: all 0.5s linear, font-size 0s;}
div.prop.focus + div.blob {margin: 0.5em auto 0 auto;}
div.prop.unfolded + div:not(.prop) {display: none;}
div.blob > div.p {background-color: white; border: 1px solid black;
  padding: 0 1em 1em 1em; display: inline-block;}
div.prop + div.blob > div.p {background-color: transparent; border: 0;
  margin: 0;}
div.blob > div.p::before {content: "Recordeu!"; display: block;
  padding: 0 0 1em 0; color: red; font-size: larger;}
div.prop + div.blob > div.p::before {content: ""; padding: 0;}

/* Rules for ‘itemize’ environments */
div.itemize {text-indent: 0em; margin-left: 3.0em; margin-right: 0em;}
div.itemize > div.item {position: relative; text-indent: 0em;}
div.itemize > div.item > span:first-child {position: absolute;
  overflow: hidden; text-align: left; left: -1.0em; width: 1.0em;}

/* Rules for ‘eqnarray’ environments */
table.eqnarray {display: inline-table; vertical-align: middle;
  border-collapse: collapse; text-indent: 0.0em; width:100%;}
table.eqnarray > tbody > tr > td {padding: 0.3em; vertical-align: middle;
  white-space:nowrap;}
table.eqnarray > tbody > tr > td > span {word-spacing: normal;}
table.eqnarray > tbody > tr > td.r {text-align: right; width: 50%;}
table.eqnarray > tbody > tr > td.r + td.c {text-align: center;}
table.eqnarray > tbody > tr > td.r + td.c + td.l
  {text-align: left; width: 50%;}
table.eqnarray > tbody > tr > td.r + td.c + td.l + td.r
  {padding-right: 0; text-align: right; width: 0; white-space: nowrap;
  direction: ltr;}

/* Rules for ‘eqnarray*’ environments */
table.eqnarraystar {display: inline-table; vertical-align: middle;
  border-collapse: collapse; text-indent: 0.0em; }
table.eqnarraystar > tbody > tr > td {padding: 0.3em; vertical-align: middle; }
table.eqnarraystar > tbody > tr > td > span {word-spacing: normal; }
table.eqnarraystar > tbody > tr > td.c {text-align: center; }
table.eqnarraystar > tbody > tr > td.l {text-align: left; }
table.eqnarraystar > tbody > tr > td.r {text-align: right; }
table.eqnarraystar > tbody > tr > td span.inlinemath > svg
  {max-width: 100%; height: auto; vertical-align: middle;}

/* Rules for ‘enumerate’ environments */
div.enumerate {text-indent: 0em; margin-left: 4.0em; margin-right: 0em;}
div.enumerate > div.item {position: relative; text-indent: 0em;}
div.enumerate > div.item > span:first-child {position: absolute;
  overflow: hidden; text-align: left; left: -2.0em; width: 2.0em;}

/* Rules for ‘hline’ and ‘cline’ commands in ‘tabular’ environments */
table.tabular > tbody > tr.hrule {border-top: 0px; height: 0px; }
table.tabular > tbody > tr.hrule > td {padding: 0.0em; border-top: 1px solid;
  height: 0px; }
table.tabular > tbody > tr.hrule + tr.hrule > td { border-top: 0px;
  border-bottom: 1px solid; height: 1px; }
table.tabular > tbody > tr.hrule > td.noline {border-top: 1px none; }

/* Rules for vertical rules in ‘tabular’ environments */
table.tabular > tbody > tr > td.vrule {padding: 0.0em;
  border-left: 1px solid; width: 0px; height: 0px; }
table.tabular > tbody > tr > td.vrule + td.vrule {border-left: 0px solid;
  border-right: 1px solid; width: 2px; }

/* Rule for footnotesize text size */
.footnotesize {font-size: 84%;}

/* Rule for underlined text */
.underline {text-decoration: underline;}

/* Rules for ‘thebibliography’ environments */
div.thebibliography {text-indent: 0em; margin-left: 3.5em; margin-right: 0em;}
div.thebibliography > div.item {text-indent: -1.5em;}
